In [1]:
import pandas as pd
import numpy as np

In [3]:
whr_2017 = pd.read_csv("whr_2017.csv")
whr_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [65]:
gini_index_original = pd.read_csv("gini_per_country.csv")
gini_index_original.head()

   Unnamed: 0         name  gini
0           0       Norway  25.8
1           1      Denmark  24.0
2           2      Iceland   NaN
3           3  Switzerland  33.7
4           4      Finland  26.9

In [66]:
gini_index = gini_index_original.rename(columns={"name": "Country"}).drop(columns="Unnamed: 0")
gini_index.head()

       Country  gini
0       Norway  25.8
1      Denmark  24.0
2      Iceland   NaN
3  Switzerland  33.7
4      Finland  26.9

In [67]:
happy_gini = pd.merge(whr_2017, gini_index, on = "Country")
happy_gini.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,gini
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,25.8
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,24.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,NaN
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,33.7
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,26.9

In [81]:
happy_gini[["Country","Happiness.Rank","Happiness.Score","gini"]].sort_values(by = "gini", ascending= True)

          Country  Happiness.Rank  Happiness.Score  gini
33   Saudi Arabia              37            6.344   0.0
2         Iceland               3            7.504   0.0
24          Malta              27            6.527   0.0
76        Lebanon              88            5.225   0.0
80        Somalia              93            5.151   0.0
..            ...             ...              ...   ...
118        Angola             140            3.795  58.6
123         Haiti             145            3.603  59.2
120      Botswana             142            3.766  61.0
87   South Africa             101            4.829  63.1
95        Namibia             111            4.574  63.9

[132 rows x 4 columns]

# Binning of Gini-Index

In [82]:
happy_gini.isnull().sum()
happy_gini["gini"][2]

#happy_gini.describe()
happy_gini["gini"][3]

33.7

In [83]:
happy_gini["gini"] = happy_gini['gini'].fillna(0)

In [84]:
gini = ["no Data","low", "middle", "high"]
cutoffs = ["0","24", "37","50","65"]

happy_gini["grade_gini"] = pd.cut(happy_gini["gini"],cutoffs,labels = gini)
happy_gini.head()

# qcuts

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,gini,grade_gini
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,25.8,low
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,24.0,low
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,0.0,no Data
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,33.7,low
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,26.9,low

In [85]:
happy_gini[["Country","Happiness.Rank","Happiness.Score","gini","grade_gini"]].sort_values(by = "Happiness.Rank", ascending= True)

,Country,Happiness.Rank,Happiness.Score,gini,grade_gini
0,Norway,1,7.537,25.8,low
1,Denmark,2,7.522,24.0,low
2,Iceland,3,7.504,0.0,no Data
3,Switzerland,4,7.494,33.7,low
4,Finland,5,7.469,26.9,low
5,Netherlands,6,7.377,30.9,low
6,Canada,7,7.316,32.6,low
7,New Zealand,8,7.314,36.2,low
8,Sweden,9,7.284,25.0,low
9,Australia,10,7.284,30.5,low
10,Israel,11,7.213,39.2,middle
11,Costa Rica,12,7.079,50.7,high
12,Austria,13,7.006,26.0,low
13,Ireland,15,6.977,34.3,low
14,Germany,16,6.951,28.3,low
15,Belgium,17,6.891,33.0,low
16,Luxembourg,18,6.863,30.8,low
17,Chile,20,6.652,52.1,high
18,United Arab Emirates,21,6.648,0.0,no Data
19,Brazil,22,6.635,54.7,high
20,Czech Republic,23,6.609,26.0,low
21,Argentina,24,6.599,44.5,middle
22,Mexico,25,6.578,47.0,middle
23,Singapore,26,6.572,48.1,middle
24,Malta,27,6.527,0.0,no Data
25,Uruguay,28,6.454,39.7,middle
26,Guatemala,29,6.454,55.9,high
27,Panama,30,6.452,51.9,high
28,France,31,6.442,32.7,low
29,Thailand,32,6.424,40.0,middle
...,...,...,...,...,...
102,Gabon,118,4.465,41.5,middle
103,Ethiopia,119,4.460,29.8,low
104,Sri Lanka,120,4.440,40.3,middle
105,Armenia,121,4.376,30.9,low
106,Mauritania,123,4.292,40.5,middle
107,Mali,127,4.190,33.0,low
108,Cambodia,129,4.168,37.9,middle
109,Ghana,131,4.120,42.8,middle
110,Ukraine,132,4.096,26.4,low
111,Uganda,133,4.081,44.3,middle
112,Burkina Faso,134,4.032,39.8,middle
113,Niger,135,4.028,34.6,low
114,Malawi,136,3.970,39.0,middle
115,Chad,137,3.936,39.8,middle
116,Zimbabwe,138,3.875,0.0,no Data
117,Lesotho,139,3.808,52.5,high
118,Angola,140,3.795,58.6,high
119,Afghanistan,141,3.794,27.8,low
120,Botswana,142,3.766,61.0,high
121,Benin,143,3.657,38.6,middle
122,Madagascar,144,3.644,44.1,middle
123,Haiti,145,3.603,59.2,high
124,Yemen,146,3.593,37.7,middle
125,South Sudan,147,3.591,45.5,middle
126,South Sudan,147,3.591,45.5,middle
127,Liberia,148,3.533,38.2,middle
128,Togo,150,3.495,34.4,low
129,Rwanda,151,3.471,50.8,high
130,Burundi,154,2.905,33.3,low
131,Central African Republic,155,2.693,56.3,high