In [2]:
import pandas as pd
import numpy as np

In [3]:
whr_2017 = pd.read_csv("whr_2017.csv")
whr_2017.head(19)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
10,Israel,11,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
11,Costa Rica,12,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
12,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
13,United States of America,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
15,Germany,16,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
16,Belgium,17,6.891,6.955821,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210
17,Luxembourg,18,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
18,United Kingdom,19,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144

In [4]:
gini_index_original = pd.read_csv("gini_per_country_1.csv")
gini_index_original.head(20)

    Unnamed: 0                                               name  gini
0            0                                             Norway  25.8
1            1                                            Denmark  24.0
2            2                                            Iceland   NaN
3            3                                        Switzerland  33.7
4            4                                            Finland  26.9
5            5                                        Netherlands  30.9
6            6                                             Canada  32.6
7            7                                        New Zealand  36.2
8            8                                             Sweden  25.0
9            9                                          Australia  30.5
10          10                                             Israel  39.2
11          11                                         Costa Rica  50.7
12          12                                            Austria  26.0
13          13                           United States of America  48.0
14          14                                            Ireland  34.3
15          15                                            Germany  28.3
16          16                                            Belgium  33.0
17          17                                         Luxembourg  30.8
18          18  United Kingdom of Great Britain and Northern I...  34.0
19          19                                              Chile  52.1

In [5]:
#gini_index_original_1 = gini_index_original["gini"].fillna(27.8)

In [6]:
gini_index_original.head(20)

    Unnamed: 0                                               name  gini
0            0                                             Norway  25.8
1            1                                            Denmark  24.0
2            2                                            Iceland   NaN
3            3                                        Switzerland  33.7
4            4                                            Finland  26.9
5            5                                        Netherlands  30.9
6            6                                             Canada  32.6
7            7                                        New Zealand  36.2
8            8                                             Sweden  25.0
9            9                                          Australia  30.5
10          10                                             Israel  39.2
11          11                                         Costa Rica  50.7
12          12                                            Austria  26.0
13          13                           United States of America  48.0
14          14                                            Ireland  34.3
15          15                                            Germany  28.3
16          16                                            Belgium  33.0
17          17                                         Luxembourg  30.8
18          18  United Kingdom of Great Britain and Northern I...  34.0
19          19                                              Chile  52.1

In [7]:
gini_index = gini_index_original.rename(columns={"name": "Country"}).drop(columns="Unnamed: 0")
gini_index.head()

       Country  gini
0       Norway  25.8
1      Denmark  24.0
2      Iceland   NaN
3  Switzerland  33.7
4      Finland  26.9

In [8]:
happy_gini = pd.merge(whr_2017, gini_index, on = "Country")
happy_gini.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,gini
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,25.8
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,24.0
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,NaN
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,33.7
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,26.9

In [9]:
happy_gini_gini = happy_gini[["Country","Happiness.Rank","Happiness.Score","gini"]].sort_values(by = "gini", ascending= True)

In [13]:
hgg = happy_gini_gini.rename(columns={"Happiness.Rank": "Happiness Rank","Happiness.Score":"Happiness Score"})

In [39]:
hgg1 = hgg.set_index("Happiness Rank")
hgg1[50:90]

                            Country  Happiness Score  gini
Happiness Rank
98                       Kyrgyzstan            5.004  36.2
8                       New Zealand            7.314  36.2
100                        Mongolia            4.955  36.5
54                           Latvia            5.850  36.6
47                       Uzbekistan            5.971  36.7
52                        Lithuania            5.902  37.6
146                           Yemen            3.593  37.7
129                        Cambodia            4.168  37.9
51                            Japan            5.920  38.1
97                           Bhutan            5.011  38.1
148                         Liberia            3.533  38.2
89                         Portugal            5.195  38.5
143                           Benin            3.657  38.6
107                        Cameroon            4.695  38.9
136                          Malawi            3.970  39.0
69                           Turkey            5.500  39.0
11                           Israel            7.213  39.2
115                         Senegal            4.535  39.2
28                          Uruguay            6.454  39.7
134                    Burkina Faso            4.032  39.8
137                            Chad            3.936  39.8
32                         Thailand            6.424  40.0
120                       Sri Lanka            4.440  40.3
38              Trinidad and Tobago            6.168  40.3
43                        Nicaragua            6.071  40.5
123                      Mauritania            4.292  40.5
59                     Turkmenistan            5.822  40.8
84                          Morocco            5.235  40.9
35                            Qatar            6.375  41.1
102                         Tunisia            4.805  41.4
118                           Gabon            4.465  41.5
106                    Sierra Leone            4.709  42.5
131                           Ghana            4.120  42.8
72                      Philippines            5.430  43.0
144                      Madagascar            3.644  44.1
133                          Uganda            4.081  44.3
24                        Argentina            6.599  44.5
147                     South Sudan            3.591  45.5
147                     South Sudan            3.591  45.5
76                          Jamaica            5.311  45.5

# Binning of Gini-Index

In [40]:
happy_gini.isnull().sum()

Country                           0
Happiness.Rank                    0
Happiness.Score                   0
Whisker.high                      0
Whisker.low                       0
Economy..GDP.per.Capita.          0
Family                            0
Health..Life.Expectancy.          0
Freedom                           0
Generosity                        0
Trust..Government.Corruption.     0
Dystopia.Residual                 0
gini                             13
dtype: int64

In [41]:
happy_gini["gini"] = happy_gini['gini'].fillna(0)

In [42]:
# Binning of Gini-Index

gini = ["no Data","low", "middle", "high"]

cutoffs = ["0","24", "37","50","65"]

happy_gini["grade_gini"] = pd.cut(happy_gini["gini"],cutoffs,labels = gini)



happy_gini.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,gini,grade_gini
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,25.8,low
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,24.0,low
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,0.0,no Data
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,33.7,low
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,26.9,low

In [189]:
#(str(happy_gini.loc[2,("gini")])).replace("0.0","No Data")
happy_gini_prepare = happy_gini.replace(0.0, np.nan)

In [190]:
#happy_gini["gini"] = happy_gini["gini"].isnull()#.fillna("No Data")
happy_gini_prepare["gini"] = happy_gini_prepare["gini"].fillna("no Data")

In [192]:
happy_gini_cut =happy_gini_prepare[["Country","Happiness.Rank","Happiness.Score","gini","grade_gini"]].sort_values(by = "Happiness.Rank", ascending= True)

In [201]:
happy_gini_cut_rename = happy_gini_cut.rename(columns={"Happiness.Rank": "Happiness Rank","Happiness.Score":"Happiness Score"})

In [204]:
happy_gini_cut_rename.set_index("Happiness Rank")

                                 Country  Happiness Score     gini grade_gini
Happiness Rank
1                                 Norway            7.537     25.8        low
2                                Denmark            7.522       24        low
3                                Iceland            7.504  no Data    no Data
4                            Switzerland            7.494     33.7        low
5                                Finland            7.469     26.9        low
...                                  ...              ...      ...        ...
148                              Liberia            3.533     38.2     middle
150                                 Togo            3.495     34.4        low
151                               Rwanda            3.471     50.8       high
154                              Burundi            2.905     33.3        low
155             Central African Republic            2.693     56.3       high

[133 rows x 4 columns]

In [205]:
happy_gini_cut_rename.to_csv(r"C:\Users\linda\Ironhack\Projects\Project_3\happy_gini_cut.csv")